<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

      <li class="nav-item ">
        <a class="fa fa-road" (click)="add()">&nbsp;Route &nbsp;&nbsp;&nbsp;&nbsp;</a>
      </li>
      <li class="nav-item ">
        <a class="fa fa-bus" (click)="addbus()">&nbsp;Bus&nbsp;&nbsp;&nbsp;&nbsp;</a>
      </li>
      <li class="nav-item ">
        <a class="fa fa-book" (click)="addcus()">&nbsp;Customer&nbsp;&nbsp;&nbsp;&nbsp;</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <!--  <li class="nav-item ">
          <a  class="fa fa-book" href="about">&nbsp;About&nbsp;&nbsp;&nbsp;&nbsp;</a>
        </li> -->
      <li class="nav-item "><a style="color: white;" (click)="logout()"><span class="fa fa-power-off"></span> Logout</a>
      </li>
    </ul>

  </div>
</nav>
<html>

<head>
</head>

<body>
  <br>
  <br>


  <h1 style="color: rgb(0, 0, 0) ;font-size: xx-large;margin-left: 500px;"><b>Welcome to Bus Ticket Booking App</b></h1>
  <br><br><br>
  <span style="margin-left: 100px;"> <img src="../../assets/img/a1.jpg" alt="" style="width: 400px;margin-left: 60px;">
    <img src="../../assets/img/a2.jpg" alt="" style="width: 350px;margin-left: 45px;">
    <img style="width: 400px;margin-left: 30px;" src="../../assets/img/a3.jpg" alt="">
  </span>
  <div style="margin-left: 450px; font-size: x-large;">


  </div>
  <br>
  <br>
</body>

</html>