
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      
        <li class="nav-item active">
          <a class="nav-link"  >Home</a>
        </li>&nbsp;&nbsp;&nbsp;&nbsp;
        <li class="nav-item active">
          <a class="nav-link " >About Us</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a style="color: white;"  (click)="sign_up()"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
   
    </div>
  </nav>
<div *ngIf ="login">
  <div class="loginForm"style="margin-right:100px" >
      
      <div class="main">
          <br>
          <h1 style="color:black"><b></b></h1>
          <div class="container">
              <form [formGroup]="customerLoginForm" (ngSubmit)="customerLogin()" style="height: 200px;">
                  <fieldset>
                      <div class="form-row">
                          <div class="form-group col-md-4"></div>
                          <div class="form-group col-md-4">
                              <i class="fa fa-user fa-lg"></i> &nbsp;
                              <label style="font-weight: bold; font-size: 20px; color: black;"> Email/UserName </label>
                              <input type="text" name="email" id="email" placeholder="Enter User name email" formControlName="email" style="color:black;"
                                  class="form-control border border-primary" />
                              <div *ngIf="customerLoginForm.get('email').hasError('required') && customerLoginForm.get('email').dirty">
                                  <b> <font color = "red"> Email/Name is Required</font></b>
                             </div>
                          </div>
                      </div>
                      <div class="form-row">
                          <div class="form-group col-md-4"></div>
                          <div class="form-group col-md-4">
                              <i class="fa fa-key fa-lg"></i> &nbsp;
                              <label style="font-weight: bold; font-size: 20px; color: black;">Password </label>
                              <input type="password" name="password" id="password" formControlName="password"
  
                                  style="color:black;"  placeholder="Enter Password" class="form-control border border-primary" />
                              <div *ngIf="customerLoginForm.get('password').hasError('required') && customerLoginForm.get('password').dirty">
                                  <b> <font color = "red">Password is Required</font></b>
                              </div>
  
                          </div>
                      </div>
  
                      <br>
          
                      <div class="btn-text-center" style="margin-left:400px">
                          <button  style="width: 100px;"type="submit" class="btn btn-success btn"
                              [disabled] ="customerLoginForm.invalid" >Log-in&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button> &nbsp;&nbsp;&nbsp;&nbsp;
                              <button style="width: 100px; margin-left: 40px;" type="reset" class="btn btn-info"  (click)="back()">Reset</button>&nbsp;
                              <br>
                              <br>
                              
                      </div>
                          <a style="color: rgb(90, 151, 207);font-size: large;margin-left: 350px;" (click)="sign_up()">Don't have an account ?Sign-Up&nbsp;&nbsp;&nbsp;</a> &nbsp;
                          <a  style="color: rgb(207, 38, 16);font-size: large;" (click)="forget()">Forget Password</a>&nbsp;
                             
                          <br><br>
  
                  </fieldset>
                  <br>
              </form>
              <!-- <button class="btn btn-dark btn-lg" (click)="back()">Back</button>&nbsp; -->
          </div>
      </div>
  </div>
  </div>
  
  <div *ngIf = "forgetPass">
    <form [formGroup]="ForgetForm" (ngSubmit)="forgetPassword()" style="margin-left: 300px;height: 200px;width:900px;">
        <fieldset>
            <div class="form-row">
                <div class="form-group col-md-4"></div>
                <div class="form-group col-md-4">
                    <i class="fa fa-user fa-lg"></i> &nbsp;
                    <label style="font-weight: bold; font-size: 20px; color: black;"> Email </label>
                    <input type="text" name="email" id="email" placeholder="Enter Customer email" formControlName="email" style="color:black;"
                        class="form-control border border-primary" />
                    <div *ngIf="customerLoginForm.get('email').hasError('required') && customerLoginForm.get('email').dirty">
                        <b> <font color = "red">Customer email is Required</font></b>
                   </div>
                </div>
            </div>
        </fieldset>
        <br>
        <span>
        <button style="margin-left: 420px;"  class="btn btn-primary"><p  class="fa fa-paper-plane">Send</p></button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
    </span>
    </form>
</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<div *ngIf="front">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          
            <li class="nav-item active">
              <a class="nav-link"  (click)="home()">Admin</a>
            </li>&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item active">
              <a class="nav-link " (click)="customer()">Customer</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
       
        </div>
      </nav>
</div>

<div *ngIf ="admin" >
<button class="btn btn-dark" (click)="add()"> Route</button>
&nbsp;&nbsp;&nbsp;&nbsp;
<button class="btn btn-dark" (click)="addbus()">Bus</button>
&nbsp;&nbsp;&nbsp;&nbsp;


<button class="btn btn-dark" (click)="addcus()">Customer </button>
