  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
    font-size: 21px;
  }
  
  li a:hover {
    color:orange
  }
  .bg
  {
    background-color: burlywood;
  }
  h2{
    background-color: green;
  }
  .toast-custom {
    background-color: purple;
}
#toast-container > .toast-custom {
  content: "\f00C";
}
